@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Aboreto", cursive;
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
  background: url("https://wallpaperaccess.com/full/2984122.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.log-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.log-page img {
  width: clamp(150px, 15vw, 400px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
  margin: 20px 0px;
}
.log-page__log-container__connection-form {
  font-size: clamp(1em, 2vw, 1.5em);
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border: none;
  min-width: 500px;
  text-align: center;
  border-radius: 20px;
}
.log-page__log-container__connection-form__form-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.log-page__log-container__connection-form__form-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 40px;
}
.log-page__log-container__connection-form__form-container ul .active-btn {
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  list-style: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 500ms ease;
}
.log-page__log-container__connection-form__form-container ul .active-btn:focus, .log-page__log-container__connection-form__form-container ul .active-btn:hover {
  scale: 1.05;
  transition: all 200ms ease-out;
}
.log-page__log-container__connection-form__form-container ul li:not(.active-btn) {
  list-style: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  transition: all 500ms ease;
}
.log-page__log-container__connection-form__form-container input {
  padding: 15px 20px;
  margin: 5px;
  font-size: 1.2rem;
  font-family: "Aboreto", cursive;
  border-radius: 15px;
  list-style: none;
  outline: none;
  border: none;
  transition: all 500ms ease;
}
.log-page__log-container__connection-form__form-container input:focus, .log-page__log-container__connection-form__form-container input:hover {
  scale: 1.05;
  transition: all 200ms ease-out;
}
.log-page__log-container__connection-form__form-container button {
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: "Aboreto", cursive;
  font-weight: bold;
  font-size: clamp(1.1em, 2vw, 1.2em);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(250, 250, 250, 0.397), rgba(212, 212, 212, 0.253));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  color: black;
  text-shadow: 1px 1px 4px rgb(255, 255, 255);
  cursor: pointer;
  width: 150px;
  margin: 0;
  height: 50px;
  transition: all 500ms ease;
}
.log-page__log-container__connection-form__form-container button:focus, .log-page__log-container__connection-form__form-container button:hover {
  scale: 1.1;
  transition: all 500ms ease-out;
}

.acceuil-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.acceuil-page header {
  position: fixed;
  height: 100%;
  z-index: 1;
}
.acceuil-page .menu {
  width: 120px;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  transition: 0.4s ease-in-out;
}
.acceuil-page .menu.open {
  width: 360px;
}
.acceuil-page .menu__toggle {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 180px;
  right: -20px;
  font-size: 38px;
  line-height: 50%;
  text-align: center;
  border-radius: 50%;
  padding: 2px 0 2px 2px;
  background: linear-gradient(90deg, transparent 50%, rgba(10, 10, 10, 0.65) 50%);
}
.acceuil-page .menu__toggle i {
  transition: 0.4s linear;
}
.acceuil-page .menu__logo {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acceuil-page .menu__logo img {
  width: clamp(120px, 5vw, 200px);
  transition: 0.4s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50%;
}
.acceuil-page .menu__logo h3 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 0;
  padding: 5px;
  font-variant: small-caps;
  pointer-events: none;
  text-align: center;
}
.acceuil-page .menu__nav {
  height: 100%;
}
.acceuil-page .menu__nav__title {
  color: #dadada;
  margin: 20px 0 10px;
  pointer-events: none;
}
.acceuil-page .menu__nav ul {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.acceuil-page .menu__nav__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding: 0 16px;
  margin: 8px 0;
  color: #fff;
  transition: 0.3s;
}
.acceuil-page .menu__nav__item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.acceuil-page .menu__nav__item i {
  font-size: 26px;
}
.acceuil-page .menu__nav__item span {
  font-size: 18px;
  margin-left: 8px;
  pointer-events: none;
  opacity: 0;
}
.acceuil-page__form-container-create {
  background: linear-gradient(90deg, rgb(43, 41, 43) 0%, rgb(10, 10, 10) 100%);
  padding: 50px 50px 50px 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-block-end: 5px solid;
  border-image-source: radial-gradient(circle at top center, #9d68f1 20%, transparent 90%);
  border-image-slice: 1;
  box-shadow: 0 0 10px #9d68f1, 0 0 20px #9d68f1, 0 0 40px #9d68f1;
}
.acceuil-page__form-container-create__pseudo {
  font-family: arial;
  margin: 0;
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.7em;
  outline: none;
  animation: glow 7s linear infinite;
}
.acceuil-page__form-container-create__form-new-post {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.acceuil-page__form-container-create__form-new-post__title {
  color: white;
}
.acceuil-page__form-container-create__form-new-post__title--input {
  color: white;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 1px #090909 solid;
  background: linear-gradient(145deg, #171717, #444245);
  box-shadow: inset 2px 2px 0px #7d7c7e, inset -2px -2px 0px #1c1c1c;
}
.acceuil-page__form-container-create__form-new-post__title--input:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(145deg, #262626, #606060);
  width: 7.25em;
  height: 7.25em;
  z-index: -1;
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
}
.acceuil-page__form-container-create__form-new-post__form-text {
  display: flex;
  flex-direction: column;
  height: 100px;
  color: white;
}
.acceuil-page__form-container-create__form-new-post__form-text--textarea {
  color: white;
  width: 190px;
  border-radius: 8px;
  outline: none;
  border: 1px #090909 solid;
  background: linear-gradient(145deg, #171717, #444245);
  box-shadow: inset 2px 2px 0px #7d7c7e, inset -2px -2px 0px #1c1c1c;
}
.acceuil-page__form-container-create__form-new-post__form-text--textarea:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(145deg, #262626, #606060);
  width: 7.25em;
  height: 7.25em;
  z-index: -1;
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
}
.acceuil-page__form-container-create__form-new-post__form-text label {
  margin-bottom: 15px;
}
.acceuil-page__form-container-create__form-new-post__form-file {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  border: 1px #090909 solid;
  background: linear-gradient(145deg, #171717, #444245);
  box-shadow: inset 2px 2px 0px #7d7c7e, inset -2px -2px 0px #1c1c1c;
  color: #a6a6a6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acceuil-page__form-container-create__form-new-post__form-file__file {
  font-size: 2em;
}
.acceuil-page__form-container-create__form-new-post__form-file__file input {
  display: none;
}
.acceuil-page__form-container-create__form-new-post__form-file:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(145deg, #262626, #606060);
  width: 7.25em;
  height: 7.25em;
  z-index: -1;
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
}
.acceuil-page__form-container-create__form-new-post__form-file:active {
  background: linear-gradient(-185deg, #131313, #444245);
  box-shadow: inset -2px -2px 0px #5e5e5e, inset 2px 2px 0px #1c1c1c;
}
.acceuil-page__form-container-create__form-new-post__form-file:active,
.acceuil-page__form-container-create__form-new-post__form-file i:active {
  color: #fff;
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__form-container-create__form-new-post__form-btn-post {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  border: 1px #090909 solid;
  background: linear-gradient(145deg, #171717, #444245);
  box-shadow: inset 2px 2px 0px #7d7c7e, inset -2px -2px 0px #1c1c1c;
  color: #a6a6a6;
}
.acceuil-page__form-container-create__form-new-post__form-btn-post span {
  font-size: 2.9em;
}
.acceuil-page__form-container-create__form-new-post__form-btn-post:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: linear-gradient(145deg, #262626, #606060);
  width: 7.25em;
  height: 7.25em;
  z-index: -1;
  box-shadow: 11px 11px 22px #141414, -11px -11px 22px #525252;
}
.acceuil-page__form-container-create__form-new-post__form-btn-post:active {
  background: linear-gradient(-185deg, #131313, #444245);
  box-shadow: inset -2px -2px 0px #5e5e5e, inset 2px 2px 0px #1c1c1c;
}
.acceuil-page__form-container-create__form-new-post__form-btn-post:active,
.acceuil-page__form-container-create__form-new-post__form-btn-post i:active {
  color: #fff;
  text-shadow: 0px 0px 15px #008ECE;
}
@keyframes glow {
  0% {
    color: #2d1457;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #9d68f1, 0 0 20px #9d68f1, 0 0 40px #9d68f1, 0 0 80px #9d68f1, 0 0 160px #9d68f1;
  }
}
.acceuil-page__all-post {
  padding: 50px 10px 150px 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 20px;
}
.acceuil-page__all-post__post {
  border-radius: 15px;
  background: linear-gradient(120deg, rgb(43, 41, 43) 0%, rgb(10, 10, 10) 100%);
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
}
.acceuil-page__all-post__post__post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}
.acceuil-page__all-post__post__post-info__box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 17px;
}
.acceuil-page__all-post__post__post-info__box-text__post-pseudo {
  text-align: center;
  padding: 10px;
  font-size: 17px;
}
.acceuil-page__all-post__post__post-info__box-text__post-pseudo__auteur {
  font-size: 2em;
  margin: 10px 0;
}
.acceuil-page__all-post__post__post-info__box-text__post-text {
  padding: 0 10px;
  height: 210px;
  margin: 5px 0;
}
.acceuil-page__all-post__post__post-info__box-img {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.acceuil-page__all-post__post__post-info__box-img img {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 30px 30px 30px 30px;
  margin: 20px 0;
  width: 90%;
}
.acceuil-page__all-post__post__post-info__box-event-interact {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate {
  height: 80px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate i {
  font-size: clamp(2.5em, 3vw, 4em);
  color: linear-gradient(145deg, #262626, #606060);
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate i:hover {
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate .b1:hover ~ i {
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate .b2:hover ~ i {
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate .b3:hover ~ i {
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate .b4:hover ~ i {
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__all-post__post__post-info__box-event-interact__rate .b5:hover ~ i {
  text-shadow: 0px 0px 15px #008ECE;
}
.acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 60px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
}
.acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal button {
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: "Aboreto", cursive;
  width: 30%;
  height: 70%;
  border: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.247));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
}
.acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal button:focus, .acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal button:hover {
  scale: 1.05;
  transition: all 50ms ease-out;
}
.acceuil-page__all-post__post__modal {
  background: linear-gradient(90deg, rgba(43, 41, 43, 0.5) 0%, rgba(10, 10, 10, 0.6) 100%);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.acceuil-page__all-post__post__modal__interact {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  padding: 50px;
  gap: 20px;
  border-radius: 15px;
}
.acceuil-page__all-post__post__modal__interact__form-container-update {
  padding: 20px;
  height: 80%;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text {
  display: flex;
  flex-direction: column;
  height: 100px;
  color: white;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text label {
  margin-bottom: 15px;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text textarea {
  font-size: 20px;
  font-family: "Aboreto", cursive;
  background: white;
  width: 250px;
  padding: 10px;
  outline: none;
  border-radius: 15px;
  border: none;
  transition: all 500ms ease;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text textarea:focus, .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text textarea:hover {
  background-color: #ffd7d7;
  border: 3px solid #fd2d01;
  scale: 1.1;
  transition: all 500ms ease-out;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file label {
  cursor: pointer;
  margin-bottom: 15px;
  color: white;
  transition: all 500ms ease;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file label i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file label input {
  display: none;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file label:focus, .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file label:hover {
  border: 3px solid #fd2d01;
  border-radius: 15px;
  padding: 5px;
  color: #ffd7d7;
  scale: 1.1;
  transition: all 500ms ease-out;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-btn-update {
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: "Aboreto", cursive;
  font-size: 1rem;
  background: white;
  color: black;
  cursor: pointer;
  width: 150px;
  margin: 0;
  height: 50px;
  transition: all 500ms ease;
}
.acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-btn-update:focus, .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-btn-update:hover {
  border: 3px solid #fd2d01;
  background: #ffd7d7;
  scale: 1.1;
  transition: all 500ms ease-out;
}
.acceuil-page__all-post__post__modal__interact__delete-post {
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: "Aboreto", cursive;
  font-size: 1rem;
  background: white;
  color: black;
  cursor: pointer;
  width: 150px;
  margin: 0;
  height: 50px;
  transition: all 500ms ease;
}
.acceuil-page__all-post__post__modal__interact__delete-post:focus, .acceuil-page__all-post__post__modal__interact__delete-post:hover {
  border: 3px solid #fd2d01;
  background: #ffd7d7;
  scale: 1.1;
  transition: all 500ms ease-out;
}
.acceuil-page__all-post__post__modal__interact__delete-post i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
}
.acceuil-page__bests {
  height: 500px;
  background-color: black;
  color: #fff;
  padding: 50px 50px 50px 150px;
}
.acceuil-page__bests-title {
  font-family: arial;
  margin: 0;
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  text-transform: uppercase;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.5333333333));
  line-height: 0.7em;
  outline: none;
  color: #fff;
  text-shadow: 0 0 10px #9d68f1, 0 0 20px #9d68f1, 0 0 40px #9d68f1, 0 0 80px #9d68f1, 0 0 160px #9d68f1;
}

body {
  color: white;
}

@media screen and (max-width: 1850px) {
  .acceuil-page__all-post {
    grid-template-columns: repeat(2, 0.4fr);
    gap: 50px;
    justify-content: center;
  }
  .acceuil-page__all-post__post__post-info__box-img {
    padding-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  .log-page img {
    width: 80%;
  }
  .log-page__log-container__connection-form {
    min-width: auto;
  }
  .log-page__log-container__connection-form__form-container {
    flex-direction: column;
  }
  .log-page__log-container__connection-form__form-container ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .acceuil-page__navbar__logo img {
    height: 70px;
  }
  .acceuil-page__navbar__navbar-btn {
    padding: 0;
  }
  .acceuil-page__navbar__navbar-btn__btn-logout {
    padding: 15px;
    height: 25px;
  }
  .acceuil-page__navbar__navbar-btn__btn-logout h1 {
    display: none;
  }
  .acceuil-page__navbar__navbar-btn__btn-logout i {
    font-size: 1.1em;
  }
  .acceuil-page__form-container-create p {
    margin-top: 10px;
    font-size: 15px;
  }
  .acceuil-page__form-container-create__form-new-post {
    flex-direction: column;
    gap: 0px;
    font-size: 15px;
  }
  .acceuil-page__form-container-create__form-new-post__form-text {
    align-items: center;
    height: 100px;
    color: white;
  }
  .acceuil-page__form-container-create__form-new-post__form-text label {
    margin-bottom: 10px;
  }
  .acceuil-page__form-container-create__form-new-post__form-text textarea {
    font-size: 15px;
    width: 100%;
  }
  .acceuil-page__form-container-create__form-new-post__form-file {
    height: 70px;
  }
  .acceuil-page__form-container-create__form-new-post__form-btn-post {
    height: 25px;
    transition: all 500ms ease;
  }
  .acceuil-page__all-post {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .acceuil-page__all-post__post {
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .acceuil-page__all-post__post__post-info__box-text {
    font-size: 15px;
  }
  .acceuil-page__all-post__post__post-info__box-img img {
    margin: 10px;
    width: 95%;
  }
  .acceuil-page__all-post__post__post-info__box-event-interact__box-likes {
    margin: 10px;
  }
  .acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal {
    margin: 15px;
  }
  .acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal button {
    height: 25px;
  }
  .acceuil-page__all-post__post__modal__interact {
    padding: 25px;
    gap: 0px;
  }
  .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post {
    gap: 0;
    font-size: 15px;
  }
  .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text {
    align-items: center;
  }
  .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-text textarea {
    font-size: 15px;
  }
  .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-file {
    height: 50px;
  }
  .acceuil-page__all-post__post__modal__interact__form-container-update__form-update-post__form-btn-update {
    height: 25px;
  }
  .acceuil-page__all-post__post__modal__interact__delete-post {
    height: 25px;
  }
  .acceuil-page__all-post__post__modal__interact__delete-post i {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 850px) {
  .acceuil-page__form-container-create p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .acceuil-page__form-container-create__form-new-post {
    flex-direction: column;
    gap: 15px;
    font-size: 17px;
  }
  .acceuil-page__form-container-create__form-new-post__form-text {
    align-items: center;
    height: 100px;
    color: white;
  }
  .acceuil-page__form-container-create__form-new-post__form-text label {
    margin-bottom: 10px;
  }
  .acceuil-page__form-container-create__form-new-post__form-text textarea {
    font-size: 20px;
    width: 100%;
  }
  .acceuil-page__form-container-create__form-new-post__form-file {
    height: 70px;
  }
  .acceuil-page__form-container-create__form-new-post__form-btn-post {
    height: 25px;
    transition: all 500ms ease;
  }
  .acceuil-page__all-post__post {
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .acceuil-page__all-post__post__post-info__box-text {
    font-size: 15px;
  }
  .acceuil-page__all-post__post__post-info__box-img img {
    margin: 10px;
    width: 95%;
  }
  .acceuil-page__all-post__post__post-info__box-event-interact__box-likes {
    margin: 10px;
  }
  .acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal {
    margin: 15px;
  }
  .acceuil-page__all-post__post__post-info__box-event-interact__box-update-modal button {
    height: 25px;
  }
}/*# sourceMappingURL=index.css.map */