&__form-container-create {
  background: linear-gradient(90deg, rgba(66, 64, 67, 1) 0%,
      rgb(27, 27, 27) 100%);
  padding: 50px 50px 50px 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__content {
    position: relative;
    width: 800px;
    height: 100px;

    h2 {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4em;

      &:nth-child(1) {
        width: 800px;
        height: 100px;
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
      }

      &:nth-child(2) {
        width: 800px;
        height: 100px;
        color: #03a9f4;
        animation: wave 4s ease-in-out infinite;
      }
    }
  }

  &__form-new-post {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    font-size: 20px;
    width: 100%;
    align-items: center;
    justify-items: center;

    &__form-text {
      display: flex;
      flex-direction: column;
      height: 100px;
      color: white;

      label {
        margin-bottom: 15px;
      }

      textarea {
        font-size: 20px;
        font-family: $font-1;
        background: white;
        width: clamp(200px, 20vw, 600px);
        padding: 10px;
        outline: none;
        border-radius: 15px;
        border: none;
        transition: all 500ms ease;

        &:focus,
        &:hover {
          scale: 1.1;
          transition: all 250ms ease-out;
        }
      }
    }

    &__form-file {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      outline: none;
      border: 2px #090909 solid;
      background: linear-gradient(145deg, #171717, #444245);
      box-shadow: inset 2px 2px 0px #7d7c7e,
        inset -2px -2px 0px #1c1c1c;
      color: #a6a6a6;
      display: flex;
      justify-content: center;
      align-items: center;

      &__file {
        font-size: 2em;

        input {
          display: none;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: inherit;
        background: linear-gradient(145deg, #262626, #606060);
        width: 7.25em;
        height: 7.25em;
        z-index: -1;
        box-shadow: 11px 11px 22px #141414,
          -11px -11px 22px #525252;
      }

      &:active {
        background: linear-gradient(-185deg, #131313, #444245);
        box-shadow: inset -2px -2px 0px #5e5e5e,
          inset 2px 2px 0px #1c1c1c;
      }

      &:active,
      i:active {
        color: #fff;
        text-shadow: 0px 0px 15px #008ECE;
      }


    }

    &__form-btn-post {

      // ***********************
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      outline: none;
      border: 2px #090909 solid;
      background: linear-gradient(145deg, #171717, #444245);
      box-shadow: inset 2px 2px 0px #7d7c7e,
        inset -2px -2px 0px #1c1c1c;
      color: #a6a6a6;

      span {
        font-size: 2.9em;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: inherit;
        background: linear-gradient(145deg, #262626, #606060);
        width: 7.25em;
        height: 7.25em;
        z-index: -1;
        box-shadow: 11px 11px 22px #141414,
          -11px -11px 22px #525252;
      }

      &:active {
        background: linear-gradient(-185deg, #131313, #444245);
        box-shadow: inset -2px -2px 0px #5e5e5e,
          inset 2px 2px 0px #1c1c1c;
      }

      &:active,
      i:active {
        color: #fff;
        text-shadow: 0px 0px 15px #008ECE;
      }

      // &:focus,
      // &:hover {
      //   border: 3px solid $color-1;
      //   background: $color-2;
      //   scale: 1.1;
      //   transition: all 500ms ease-out;
      // }
    }
  }
}

@keyframes wave {

  0%,
  100% {
    clip-path: polygon(0 47%, 15% 49%, 27% 54%, 39% 61%, 48% 67%, 61% 70%, 75% 68%, 89% 62%, 100% 55%, 100% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(0 55%, 12% 66%, 23% 71%, 34% 74%, 47% 75%, 61% 69%, 72% 60%, 86% 54%, 100% 51%, 100% 100%, 0 100%);

  }
}