&__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 10px 3px #fd2d01, 0 0 14px 5px #ffd7d7;

  &__logo {
    img {
      width: 300px;
      height: 90px;
      width: 100%;
      box-sizing: border-box;
    }
  }
  &__navbar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    &__btn-logout {
      display: flex;
      align-items: center;
      outline: none;
      border-radius: 15px;
      border: none;
      font-family: "Aboreto", cursive;
      font-size: 1rem;
      background: #ffd7d7;
      color: black;
      cursor: pointer;
      margin: 0;
      height: 50px;
      transition: all 500ms ease;
      padding: 15px;
      &:focus,
      &:hover {
        border: 3px solid $color-1;
        background: $color-1;
        scale: 1.1;
        transition: all 500ms ease-out;
      }
      h1 {
        font-size: 15px;
      }
      i {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em;
      }
    }
  }
}
