.profil-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  img {
    width: clamp(150px, 15vw, 400px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%; 
    margin: 20px 0px;
  }

  &__log-container {
    &__connection-form {
      font-size: clamp(1em, 2vw, 1.5em);
      color: white;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      box-shadow: 0 8px 32px rgb(2, 4, 24);
      border: none;
      min-width: 500px;
      text-align: center;
      border-radius: 20px;

      &__form-container {
        display: flex;
        padding: 20px; 
        justify-content: space-between;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 0;
          margin: 0 40px;
          .active-btn {
            padding: 20px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            box-shadow: 0 8px 32px rgb(2, 4, 24);
            list-style: none;
            border-radius: 15px;
            cursor: pointer;
            transition: all 500ms ease;
            &:focus,
            &:hover {
              
              scale: 1.05;
              transition: all 200ms ease-out;
            }
          }
          li:not(.active-btn) {
            list-style: none;
            border-radius: 15px;
            cursor: pointer;
            padding: 10px;
            transition: all 500ms ease;
            &:focus,
            &:hover {
            }
          }
        }
        form {
          }
          input {
            padding: 15px 20px;
            margin: 5px;
            font-size: 1.2rem;
            font-family: "Aboreto", cursive;
            border-radius: 15px;
            list-style: none;
            outline: none;
            border: none;
            transition: all 500ms ease;
            &:focus,
            &:hover {
              scale: 1.05;
              transition: all 200ms ease-out;
            }
          }
          button {
            border-radius: 15px;
            outline: none;
            border: none;
            font-family: $font-1;
            font-weight: bold;
            font-size: clamp(1.1em, 2vw, 1.2em);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            background: linear-gradient(135deg, rgba(250, 250, 250, 0.397), rgba(212, 212, 212, 0.253));
            box-shadow: 0 8px 32px rgb(2, 4, 24);
            color: black;
            text-shadow: 1px 1px 4px rgb(255, 255, 255);
            cursor: pointer;
            width: 150px;
            margin: 0;
            height: 50px;
            transition: all 500ms ease;
            &:focus,
            &:hover {
              scale: 1.1;
              transition: all 500ms ease-out;
            }
          }
        }
      }
    }
  }

